body
{
	font-family: 'Ubuntu',sans-serif;
}
header > nav ul
{
	list-style:none;
	background-color: #06568e	;
	margin: 0;
	text-align: center;

}
header > nav ul li > a
{
	 text-decoration: none;
	 color:#fff;
	 font-size: 18pt;

}
header > nav ul li
{
	display:inline-block;
	margin-left: 20px;
	padding:20px;	
}
footer 
{
	background-color:#06568e;
	padding: 10px;
	text-align: center;
	position: fixed;
	color: #ffffff;
	bottom: 0;
	width: 100%;
}
main
{
	margin-top: 1%;
	margin-bottom: 2%;
}
.myphoto
{
	text-align: center;
	color: #4285F4;

}
.myphoto img
{
	width: 20%;
	border: 3px solid #000000;
	border-radius: 50%;
}
.contact-form,.social-media
{
	position: relative;
	float: left;
	width: 30%;
	border:2px solid black;
	padding: 10px;
	border-radius: 20px;
	margin-left: 10%;
	padding: 15px 30px;

}
.social-media>a
{
	display: block;
	text-decoration: none;
	color: black;
	padding: 5px 5px;
}

.contact-form input[type="submit"]{
    width: 110px;
    height: 30px;
    display: block;
    margin: 0 auto;
    background-color: #108040;
    color: white;
    border-radius: 2px;
	border:0;
}
.contact-form input[type="submit"]:hover{
    opacity: 0.2;
    color:#06568e;
    background-color: greenyellow;
}

.submit{
	padding: 15px;
}

h3{
	font-size: 25px;
}

.label{
	font-size: 20px;
}

.contact-form input[type="email"], input[type="text"], textarea{
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.gallery figure img{
    width: 200px;
    height: auto;
    object-fit: contain;
}

.gallery figure{
	width: 200px;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
    padding: 5px;
	margin: 10px;
	display: inline-block;
}

.title
{
	text-align: center;
	padding: 10px 20px;
}